.Header {
  background-color: var(--surface-background);
}

.Header-Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.Header-Logo {
  font-size: 24px;
  weight: 700;
  color: var(--font-dark-color);
  transition: color ease-in-out var(--transition-timeout);
}

.Header-Logo:hover {
  color: var(--font-light-color);
}

.Menu {
}

.Menu-Button {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: var(--font-color-dark);
  border: 1px solid var(--primary-border);
  border-radius: 20px;
  background: none;
  transition: border-color ease-in-out var(--transition-timeout);
  cursor: pointer;
}

.Menu-Button:hover {
  border-color: var(--primary-primary);
}

.Menu-List {
  margin-top: 4px;
  top: 20px;
  background-color: var(--surface-background);
  border: 1px solid var(--border);
  box-shadow: var(--box-shadow);
}

.Menu-Item {
  font-size: 14px;
  padding: 8px;
  cursor: pointer;
}

.Menu-Item:hover {
  background-color: var(--primary-secondary);
}
